.DS_Store
.env

db
dist
node_modules

wp/*
!wp/wp-content
wp/wp-content/*
!wp/wp-content/themes
wp/wp-content/themes/*
!wp/wp-content/themes/goldthorn
wp/wp-content/themes/goldthorn/dist
!wp/wp-content/plugins
wp/wp-content/plugins/*
!wp/wp-content/plugins/index.php
!wp/wp-content/plugins/goldthorn
